body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9c9c9c1e;
}

#notice{
    color: green;
    text-align: center;
    font-size: 1.23rem;
    text-shadow: 1px 1px 13px wheat;
}

#container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 30px;
    align-items: center;
    justify-content: center;



    div{
        height: 200px;
        border-radius: 15px;
        box-shadow: 4px 3px 16px #9c9c9cbd;
        padding: 20px;


        &:hover{
            scale: 1.03;
            background-color: seashell;
        }
       
        .delete-btn{
            background-color: pink;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            margin-left: 50%;
            font-size: 0.9rem;
            box-shadow: 1px 1px 5px rgb(253, 3, 3) ;
            font-weight: bold;


            &:hover{
                background-color: red;
            }
        }
       
    }

}
h1{
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
   
    
}

fieldset{
    width: fit-content;
    display: flex;
    padding: 10px 50px;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;

    input{
        width: fit-content;
        display: block;
    }

     .read{
            display: flex;
        }
}